<div class="a">
    <div class="float-right ">
        <h1 class="text-center">Chào mừng bạn đến với trang quản lý login</h1>
        <button class="btn btn btn-success" [routerLink]="'them-sua'">Thêm</button>
        <table class="table table-hover ">
            <thead>
                <th>Họ tên</th>
                <th>Email</th>
                <th>Ảnh</th>
                <th>Thao tác</th>
            </thead>

            <tbody *ngIf="Subjects.length> 0">
                <tr *ngFor="let item of Subjects">
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>

                    <td>
                        <img [src]="item.avatar" alt="">
                    </td>
                    <td>
                        <button (click)="updated(item)" class="btn btn-outline-dark">Sửa</button>
                        <button (click)="removes(item)" class="btn btn-sm btn-danger">Xóa</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="form">
        <h3 class="text-center font-monospace">Form thêm và sửa Login</h3>
        <div class="col-6">
            <div class="form-group">
                <label for="">ID</label>
                <input disabled type="text" [(ngModel)]="FormUsers.id" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Name</label>
                <input  type="text" [(ngModel)]="FormUsers.name" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" [(ngModel)]="FormUsers.email" class="form-control">
            </div>
            <div class="form-group">
                <label for="">GoogleID</label>
                <input type="number" [(ngModel)]="FormUsers.GoogleID" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Ảnh</label>
                <input type="text" [(ngModel)]="FormUsers.avatar" class="form-control">
            </div>
            


            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-success" type="button" (click)="submitdForm()">Button</button>
            </div>
        </div>

    </div>
</div>