<div class="container">
    <div>
        <table class="table table-hover ">
            <thead>
                <th>Mã</th>
                <th>Tên</th>
                <th>Ảnh</th>
                <th>Thao tác</th>
            <tbody *ngIf="Subjects.length> 0">
                <tr *ngFor="let item of Subjects">
                    <td>{{item.Code}}</td>
                    <a  [routerLink]="'admin-quiz/'+ item.Code">
                        <p>{{item.Name}}</p>
                    </a>
                    <td>
                        <img [src]="'/assets/logos/' + item.Logo" width="60" alt="">
                    </td>
                    <td>
                        <button (click)="updated(item)" class="btn btn-sm btn-info" style="margin-right: 10px;"><i
                                class="bi bi-tools"></i></button>
                        <button (click)="removes(item)" class="btn btn-sm btn-danger"><i
                                class="bi bi-x-circle-fill"></i></button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="form">
        <h3 class="text-center font-monospace">Form thêm và sửa Quiz</h3>
        <div class="col-6">
            <div class="form-group">
                <label for="">id</label>
                <input disabled type="text" [(ngModel)]="formSubjects.id"  class="form-control">
            </div>
            <div class="form-group">
                <label for="">Mã số</label>
                <input  type="text" [(ngModel)]="formSubjects.Code"  class="form-control">
            </div>
            <div class="form-group">
                <label for="">Tên</label>
                <input type="text" [(ngModel)]="formSubjects.Name" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Ảnh</label>
                <input type="file" accept="assets/logos" [(ngModel)]="formSubjects.Logo " class="form-control">
            </div>

         
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-success" (click)="submitdForm()" type="button">Button</button>
              </div>
        </div>
        
    </div>
</div>